{% extends "boceto/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

{% include "boceto/partials/_hero.html" %}
{% include "boceto/partials/_kpis.html" %}
{% include "boceto/partials/_cert_strip.html" %}
{% include "boceto/partials/_about.html" %}
{% include "boceto/partials/_producto.html" %}
{% include "boceto/partials/_labor_social.html" %}
{% include "boceto/partials/_certificaciones.html" %}
{% include "boceto/partials/_testimoniales.html" %}
{% include "boceto/partials/_contacto.html" %}
{% include "boceto/partials/_whatsapp.html" %}

{% endblock %}
